# Compiled binaries
real-esrgan-serve

# Output files / directories
*_out/
*_out.*

# ONNX / TensorRT built engine files
*.onnx
*.engine
*.trt

# Go workspace
go.work
go.work.sum

# OS Specific
.DS_Store
Thumbs.db

# PID files

# GitHub Release Scripts
gh/
